.priceWrap {
  width: 98%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 2%;
  .fareItem {
    width: 31%;
    height: 3rem;
    margin: 0 2% 2% 0;
    font-size: 1.1rem;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    border: 1px solid lightgray;
    color: black;
    &.chose {
      background: gray;
    }
    &:active {
      background: gray;
    }
  }
}