@value black: rgba(51, 51, 51, 1);
@value blue: rgba(44, 141, 232, 1);
.alertWrap {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  display: none;
}
.inputNumber {
  width: 100%;
  height: 5.5rem;
  padding: 0 4%;
  background: white;
  margin-bottom: 1.3rem;
  align-items: center;
  display: flex;
  position: relative;
  label {
    font-size: 1.8rem;
    color: black;
    input {
      width: 75%;
      background: none;
      border: 0;
      border-left: 1px solid rgba(229, 229, 229, 1);
      margin-left: 0.5rem;
      padding-left: 0.5rem;
      border-radius: 0;
      font-size: 1.8rem;
      color: black;
    }
  }
  span {
    color: rgba(153, 153, 153, 1);
    font-size: 0.675rem;
    position: absolute;
    bottom: 0.3rem;
    left: calc(4% + 4.4rem);
  }
  a {
    display: inline-block;
    padding: 0.5rem;
  }
}
.mobileTitle {
  font-weight: normal;
  font-size: 0.875rem;
  color: black;
  margin-bottom: 1.5rem;
  margin-left: 4%;
}
.priceWrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 5.3%;
  .fareItem {
    width: 28%;
    height: 5rem;
    margin: 0 5.3% 1.3rem 0;
    font-size: 1.1rem;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    border: 1px solid transparent;
    color: black;
    background: #FFFFFF;
    position: relative;
    transition: 0.3s;
    svg {
      position: absolute;
      top: 5px;
      right: 5px;
    }
    &.chose {
      border-color: blue;
      color: blue
    }
    &:active {
      border-color: blue;
    }
  }
}
.total {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  padding: 0 4%;
  border: 1px solid rgba(229, 229, 229, 1);
  border-left: 0;
  border-right: 0;
  background: #FFFFFF;
  p {
    color: rgba(153, 153, 153, 1);
    position: relative;
    span {
      position: absolute;
      right: 0;
      color: black;
    }
  }
}
.btn {
  width: 90%;
  margin: 2rem 5% 0 5%;
  background: blue;
  outline: none;
  border: 0;
  height: 2.8rem;
  border-radius: 4px;
  color: white;
  font-size: 1.1rem;
  transition: 0.3s;
}
.unClick {
  background: rgba(44, 141, 232, 0.5);
}
.pinCode {
  width: 100%;
  heigth: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  .pinWrap {
    width: 280px;
    background: #FFFFFF;
    p {
      margin: 2rem 1rem 1rem 1rem;
      font-size: 1rem;
      color: black;
      text-align: center;
    }
    input {
      width: calc(100% - 2rem);
      height: 2rem;
      margin: 0 1rem;
      padding: 0 1rem;
      border: 1px solid black;
    }
    div {
      width: 100%;
      height: 3rem;
      flex-direction: row;
      display: flex;
      margin-top: 3rem;
      button {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        border: 0;
        border-top: 1px solid black;
        background: transparent;
        &:last-child {
          color: blue;
        }
      }
      span {
        width: 1px;
        height: 3rem;
        background: black;
      }
    }
  }
}